<section id="about" class="s-about target-section">
  <div class="row s-about__content width-sixteen-col">
    <div class="column grid-block grid-section-split">
      <img
        src="assets/images/geometric_shape.svg"
        alt=""
        class="s-about__content-imgbg"
      />

      <div class="section-header grid-section-split__header">
        <div class="text-pretitle">About</div>
        <h2 class="text-display-title">
          Author in Shalakya Tantra and Ayurvedic Ophthalmology.
        </h2>
      </div>

      <div class="s-about__content-main grid-section-split__primary">
        <p class="attention-getter">
          Dr. Narayan Vidwansa is a Professor as well as Author in Shalakya
          Tantra and Ayurvedic Ophthalmology, graduated in BAMS from Nagpur
          University, Nagpur (MH.) & He did Ph.D from Pune University.
        </p>

        <p class="attention-getter">
          He had 37 Years of teaching experience including 17 years to Post
          Graduate student. Former HOD, Shalakya Tantra at Vidarbha Ayurved
          Mahavidyalaya, Amravati (MH), Former Professor at Sumatibhai Shah
          Ayurved College.
        </p>
        <p class="attention-getter">
          Ex Member, Undergraduate and post graduate Clinical Board of studies,
          Maharashtra University of Health Sciences Nashik(MH), Also worked as a
          resource person in many Teacher's Reorientation programmes.
        </p>
      </div>
      <!-- end s-about__content-main -->
    </div>
    <!-- content-inner -->
  </div>
</section>
