* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}
// @font-face {
//   font-family: "twentieth";
//   src: url("../../../assets/fonts/twentieth/TwentiethCenturyforKenmoreN.ttf")
//     format("truetype");
//   font-weight: normal;
//   font-style: normal;
// }
.contact-section {
  .contact-row {
    padding-top: 180px;
    padding-bottom: 80px;
    background-color: #212722;
    color: #fef6e6;
  }
}
.text-color-primary {
  span {
    color: #fef6e6;
  }
}
a,
.text-address {
  color: #524e44;
}
.heading-text {
  font-size: 5rem;
  font-family: "DM Serif Text", serif;
  font-weight: 400;
}
.img-fluid {
  width: 30vh;
}
.media-box {
  .media {
    width: 45px;
    height: 45px;
    padding: 1rem;
    border-radius: 50%;
    background-color: #524e44;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      font-size: 1rem;
    }
  }
}
.text-get {
  font-size: 1.8rem;
  line-height: 1;
  font-weight: 500;
  display: inline-block;
  padding-bottom: 1rem;
  color: #fff;

  &::after {
    content: "";
    display: block;
    width: 35px;
    height: 2.5px;
    background-color: #000;
    margin: 12px auto;
  }
}
.form-control,
.input-number {
  border-radius: 0.5rem;
  padding: 0.75rem 1rem !important;
  background-color: transparent;
  border: 1px solid #b8a07e;
  color: #212722;
}
.form-control:focus,
.input-number:focus {
  box-shadow: none;
  outline: none;
  border: 1px solid #b8a07e;
}
.form-control:focus-visible,
.input-number:focus-visible {
  border: 1px solid #b8a07e;
  outline: none;
}
.btn-dark,
.btn-light {
  width: 100% !important;
  border: 1px solid #b8a07e;
  color: #fef6e6;
  transition: all 0.3s ease-in-out;
  background-color: #b8a07e;
  padding-block: 0.75rem;
  &:hover {
    transform: scale(1.02);
  }
  &:active {
    background-color: #b8a07e;
  }
}
.btn:focus {
  box-shadow: none;
}
.btn:active {
  border: 0;
}
input:focus {
  box-shadow: none;
}
.background-primary {
  background-color: #524e44;
}
@media (max-width: 771px) {
  // .top-left {
  //   padding: 40px;
  // }
  .text-get {
    font-size: 1.5rem;
  }
}

.background-muted {
  background-color: #ededed;
}

.icon {
  min-width: 50px;
  max-width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #b8a07e;
  color: #524e44;
  display: flex;
  justify-content: center;
  align-items: center;
  i {
    font-size: 1.25rem;
  }
}
.desc-text {
  font-size: 18px;
  margin-bottom: 1rem;
}

@media (max-width: 992px) {
  .contact-section {
    .contact-row {
      padding-top: 140px;
      padding-bottom: 50px;
      background-color: #212722;
      color: #fef6e6;
    }
  }
  .heading-text{
    font-size: 3rem;
  }
  .icon {
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    i {
      font-size: 1rem;
    }
  }
  p,
  a {
    font-size: 11px;
  }
  .desc-text {
    font-size: 17px;
  }
}
