<div class="container-fluid product-section">
  <div class="row justify-content-center">
    <div class="col-12 product-row">
      <h2 class="pb-3 pb-lg-4 mb-0 text-center text-uppercase heading-text">
        Books
      </h2>
    </div>

    <div class="col-12 py-3">
      <div class="row justify-content-center">
         <div class="col-12 col-md-11 col-lg-10 content">
        <div class="row row-1 py-5">
          <div class="col-lg-6 my-2">
            <div class="details-part">
              <h6 class="heading">NETRA-ROG VIDNYANA</h6>
              <p class="short-head">(A Textbook of Ayurvedic Ophthalmology)</p>
              <p class="description">
                NETRA-ROG VIDNYANA (A Textbook of Ayurvedic Ophthalmology), in
                Marathi and Published by VIMAL VISION PUBLICATION, PUNE on 29th
                Aug 2004. It is approved as Supplementary reading by Maharashtra
                University of Health Sciences, Nashik. Presently 15th Edition in
                the Market.
              </p>
              <button class="btn btn-outline">
                Enquire <i class="ms-2 fa-solid fa-arrow-right"></i>
              </button>
            </div>
          </div>
          <div class="col-lg-6 my-2">
            <div class="img-card">
              <img src="assets/netrarog-book.jpg" class="img-fluid" alt="" />
            </div>
          </div>
        </div>
        <div class="row py-5">
          <div class="col-lg-6 my-2">
            <div class="img-card">
              <img src="assets/book-2.jpg" class="img-fluid" alt="" />
            </div>
          </div>
          <div class="col-lg-6 my-2">
            <div class="details-part">
              <h6 class="heading">
                SHIRO-KARNA-NASA & MUKHA-DANTAROGA VIDNYANA
              </h6>
              <p class="short-head">
                (A Textbook of E.N.T. & ORO-DENTAL DISEASES)
              </p>
              <p class="description">
                SHIRO-KARNA-NASA & MUKHA-DANTAROGA VIDNYANA (A Textbook of
                E.N.T. & ORO-DENTAL DISEASES) in Marathi and Published by VIMAL
                VISION PUBLICATION, PUNE in the year 2010. Presently 11th
                Edition in the market.
              </p>
              <button class="btn btn-outline">
                Enquire <i class="ms-2 fa-solid fa-arrow-right"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="row row-3 py-5">
          <div class="col-lg-6 my-2">
            <div class="details-part">
              <h6 class="heading">
                NETRA-ROG VIDNYANA / SHIRO-KARNA-NASA & MUKHA-DANTAROGA VIDNYANA
              </h6>
              <p class="short-head">(IN ENGLISH VERSION)</p>
              <p class="description">
                Both of my books is presently published by Chaukhamba Surbharati
                Prakashan, Varanasi – 221001.
              </p>
              <button class="btn btn-outline">
                Enquire <i class="ms-2 fa-solid fa-arrow-right"></i>
              </button>
            </div>
          </div>
          <div class="col-lg-6 my-2">
            <div class="img-card">
              <img src="assets/book-2.jpg" class="img-fluid" alt="" />
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
