<section id="hero" class="hero section">
  <div class="background"></div>

  <div
    class="container-fluid mx-2 mx-lg-5"
    data-aos="fade-up"
    data-aos-delay="100"
  >
    <div class="row">
      <div
        class="col-12 col-md-12 col-xl-8 d-flex flex-column justify-content-center"
      >
        <h2 class="name">Dr. Narayan Vidwansa</h2>
        <p class="s-intro__content-title">
          Ex-Professor and Head of Post Graduate SHALAKYA TANTRA (Eye and ENT)
          Department, Vidarbha Ayurved Mahavidyalaya, Amravati (M.S.) – 444606.
        </p>
        <div class="social-links">
          <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
          <a href="#"><i class="fa-brands fa-facebook"></i></a>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
          <a href="#"><i class="fa-brands fa-linkedin"></i></a>
        </div>
      </div>
      <div class="col-12 col-md-12 col-xl-4">
        <div class="row s-intro__content-media">
          <div class="col-4 col-xl-auto"></div>
          <div class="col-8 col-xl-12 s-intro__content-media-inner">
            <img src="assets/images/profile-img.png" alt="profile img" />
            <div class="lines">
              <span></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<a
  id="scroll-top"
  class="scroll-top d-flex align-items-center justify-content-center"
  (click)="scrollToTop()"
  ><i class="fa-solid fa-arrow-up"></i
></a>
