.hero {
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.light-background {
  --background-color: #f3f1f0;
  --surface-color: #ffffff;
}

.dark-background {
  --background-color: #858484;
  --default-color: #ffffff;
  --heading-color: #ffffff;
  --surface-color: #9e9e9e;
  --contrast-color: #ffffff;
}
.hero .background {
  position: absolute;
  inset: 0;
  background-color: #212722;
  background: linear-gradient(
    20deg,
    hsl(130deg, 8%, 14%) 40%,
    hsl(0deg, 0%, 13%) 100%
  );
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.hero:before {
  content: "";
  background: color-mix(in srgb, var(--background-color), transparent 80%);
  position: absolute;
  inset: 0;
  z-index: 2;
}

.hero .container-fluid {
  position: relative;
  z-index: 3;
  padding-block: 6rem;
}

.s-intro__content-title {
  font-size: 2rem;
  line-height: 1;
  margin-top: 0;
  color: #fef6e6;
}

.hero h2 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 700;
  color: #b8a07e;
  position: relative;
  transform: translate(-9rem, 0);
  padding-left: 9rem;

  &::before {
    content: "";
    display: block;
    width: 9.6rem;
    height: 1px;
    background-color: #ea8f10;
    position: absolute;
    top: 50%;
    left: 0;
  }
}

.hero p {
  margin: 5px 0 0 0;
  font-size: 26px;
  color: #fef6e6;
  line-height: 1.2;
}

.hero p span {
  letter-spacing: 1px;
  border-bottom: 2px solid #b8a07e;
}

.hero .social-links {
  margin-top: 25px;
}

.hero .social-links a i {
  font-size: 24px;
  display: inline-block;
  color: color-mix(in srgb, #ffffff, transparent 50%);
  line-height: 1;
  margin-right: 20px;
  transition: 0.3s;
}

.hero .social-links a:hover {
  color: #b8a07e;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

.scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background-color: #b8a07e;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
  cursor: pointer;
}

.scroll-top i {
  font-size: 24px;
  color: #ffffff;
  line-height: 0;
}

.scroll-top:hover {
  background-color: color-mix(in srgb, #b8a07e, transparent 20%);
  color: #ffffff;
}

.scroll-top.active {
  visibility: visible;
  opacity: 1;
}

.s-intro__content-media {
  grid-column: 12/-1;
  grid-row: span 2;
  justify-self: end;
  align-self: center;
}

.s-intro__content-media-inner {
  position: relative;
}

.s-intro__content-media img {
  z-index: 2;
  width: max(100%, 10vw);
  margin: 0;
  -o-object-fit: cover;
  object-fit: cover;
  aspect-ratio: 2/2.5;
  vertical-align: bottom;
  box-shadow: 0 60px 40px -40px rgba(0, 0, 0, 0.2);
  position: relative;
}

.s-intro__content-media .lines {
  width: 100%;
  height: 18%;
  border-top: 1px solid hsla(35, 87%, 29%, 1);
  border-bottom: 1px solid hsla(35, 87%, 29%, 1);
  transform: translate(-35%, 0);
  position: absolute;
  left: 0;
  bottom: 6%;
}

.s-intro__content-media .lines:before,
.s-intro__content-media .lines:after {
  content: "";
}

.s-intro__content-media .lines:before,
.s-intro__content-media .lines:after,
.s-intro__content-media .lines span {
  display: block;
  width: 100%;
  height: 1px;
  background-color: hsla(35, 87%, 29%, 1);
  position: absolute;
  right: 0;
}

.s-intro__content-media .lines::before {
  top: 25%;
}

.s-intro__content-media .lines::after {
  top: 75%;
}

.s-intro__content-media .lines span {
  top: 50%;
}

@media (max-width: 1024px) {
  .s-intro__content-media {
    justify-self: start;
    align-self: start;
    width: 100%;
    padding-block: 2rem;
  }
  .s-intro__content-media-inner {
    position: relative;
    display: flex;
    justify-content: flex-end;
  }
}
@media (max-width: 768px) {
  .hero h2 {
    font-size: 18px;
    transform: translate(-9rem, 0);
    padding-left: 10rem;
    font-weight: 400;
    white-space: nowrap;
  }

  .hero p {
    font-size: 20px;
  }
  .hero .container-fluid {
    position: relative;
    z-index: 3;
    padding-block: 3rem;
    padding-inline: 25px;
  }

  .s-intro__content-title {
    font-size: 1.5rem;
    line-height: 1;
    margin-top: 0;
    color: #fef6e6;
  }
  .s-intro__content-media-inner {
    position: relative;
    display: flex;
    justify-content: flex-end;
  }

  .s-intro__content-media img {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .hero h2 {
    font-size: 2.5rem;
    transform: translate(-8rem, 0);
    padding-left: 10rem;
  }
}
