<section id="achievements" class="achievements target-section">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12">
        <h1 class="text-center orange-color">Achievements</h1>
      </div>
      <div class="col-12 col-md-11 col-lg-10 mt-4">
        <div class="row">
          <div class="col-lg-6 my-2">
            <div class="d-flex card-box">
              <img src="assets/achievements.png" alt="" />
              <div class="ms-2">
                <p>
                  Recognised Post Graduate teacher for M.S. Shalakya-Tantra by
                  Sant Gadge Baba Amravati University, Amravati
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 my-2">
            <div class="d-flex card-box">
              <img src="assets/achievements.png" alt="" />
              <div class="ms-2">
                <p>
                  Recognized post Graduate teacher for M.S. SHALAKYA TANTRA by
                  Maharashtra University of Health Sciences, Nashik
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 my-2">
            <div class="d-flex card-box">
              <img src="assets/achievements.png" alt="" />
              <div class="ms-2">
                <p>
                  Ex-Member, U.G. and P.G. Clinical Board of Studies,
                  Maharashtra University of Health Sciences, Nashik.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 my-2">
            <div class="d-flex card-box">
              <img src="assets/achievements.png" alt="" />
              <div class="ms-2">
                <p>Actively participated in many seminars and workshops</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 my-2">
            <div class="d-flex card-box">
              <img src="assets/achievements.png" alt="" />
              <div class="ms-2">
                <p>
                  Organized many Diagnostic and Surgical Camps at Vidarbha
                  Ayurved Mahavidyalaya, Amravati (M.S.).
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 my-2">
            <div class="d-flex card-box">
              <img src="assets/achievements.png" alt="" />
              <div class="ms-2">
                <p>
                  Successfully organized free Squint Surgical Camp continuously
                  for 17 years at Shalakya-Tantra department of Vidarbha Ayurved
                  Mahavidyalaya, Amravati (M.S.).
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 my-2">
            <div class="d-flex card-box">
              <img src="assets/achievements.png" alt="" />
              <div class="ms-2">
                <p>
                  Participated as a resource person in many Teachers’ Re-
                  Orientation Programs.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 my-2">
            <div class="d-flex card-box">
              <img src="assets/achievements.png" alt="" />
              <div class="ms-2">
                <p>
                  Recipient of “Maharshi Annasaheb Patwardhan Vaidyakeeya
                  Puraskar 2015” awarded by Vd. Khadiwale Vaidyaka Sansodhan
                  Sanstha, Pune – 411030.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
