.content-lg {
  padding-top: 50px;
  padding-bottom: 10px;

  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
}
a {
  color: #515769;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: Hind, sans-serif;
  color: #515769;
  line-height: 1.4;
  margin: 0 0 15px;
}

h3 {
  font-size: 22px;
}
p {
  font-size: 15px;
  font-weight: 400;
  font-family: Hind, sans-serif;
  color: #a6a7aa;
  line-height: 1.4;
  margin-bottom: 15px;
}

p {
  margin: 0 0 10px;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.contact-list > li {
  font-size: 13px;
  color: #81848f;
  margin-bottom: 10px;
}

em,
li,
li a {
  font-size: 16px;
  font-weight: 500;
  font-family: Hind, sans-serif;
  color: #515769;
}
.margin-r-10 {
  margin-right: 10px !important;
}

.color-base {
  color: #17bed2 !important;
}
.contact-list > li {
  font-size: 13px;
  color: #81848f;
}
.margin-l-20 {
  margin-left: 20px !important;
}

.text-uppercase {
  text-transform: uppercase;
}
span {
  font-size: 14px;
  font-weight: 400;
  font-family: Hind, sans-serif;
  color: #bfc1c7;
}
@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1170px !important;
  }
}
