<footer id="footer" class="footer light-background">
  <div class="container">
    <h3 class="sitename">Folio</h3>
    <div class="links d-flex justify-content-center flex-wrap">
      <p (click)="navigateWithScroll('/','#about')">ABOUT</p>
      <p (click)="navigateTo('/')">QUALIFICATIONS</p>
      <p (click)="navigateTo('/')">ACHIEVEMENTS</p>
      <p (click)="navigateTo('/')">EXPERIENCE</p>
      <p (click)="navigateTo('/contact')">CONTACT</p>
    </div>
    <div class="social-links d-flex justify-content-center">
      <a href=""><i class="fa-brands fa-x-twitter"></i></a>
      <a href=""><i class="fa-brands fa-facebook"></i></a>
      <a href=""><i class="fa-brands fa-instagram"></i></a>
      <a href="https://www.linkedin.com/in/dr-narayan-vidwansa-b95666167"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
    </div>
    <!-- <div class="container">
        <div class="copyright">
          <span>Copyright</span> <strong class="px-1 sitename">Folio</strong> <span>All Rights Reserved</span>
        </div>
        <div class="credits">
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> Distributed by <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
        </div>
      </div> -->
  </div>
</footer>
