<section id="experience" class="experience-section container-fluid">
  <div class="row mb-4 mb-lg-5">
    <div class="col-12">
      <h1 class="text-center orange-color">Experience</h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-4 mb-4">
      <h2 class="experience-heading"><span>Teaching Experience</span></h2>
      <p class="mt-3 mb-1 text-light post-heading">
        Under Graduate (Total 37 Years of Experience)
      </p>
      <ul class="mb-4 mb-lg-5">
        <li>Lecturer : 3 years</li>
        <li>Ass. Professor : 19 years</li>
        <li>Professor : 11 years</li>
      </ul>
      <p class="mt-3 mb-1 text-light post-heading">
        Post Graduate (Total 17 Years of Experience)
        <span class="post-span">From 1992 to 2009 (At - Amravati)</span>
      </p>
      <p class="mt-3 mb-4 mb-lg-1 text-light special-heading">
        Subject of Specialization : NETRA-ROG VIDNYANA (Ophthalmology)
      </p>
    </div>
    <div class="col-md-6">
      <div class="timeline">
        <div class="timeline-entry">
          <h6>2009 - 2014</h6>
          <h5>Sumatibhai Shah Ayurved Mahavidyalaya Hadpasar, Pune (M.S.)</h5>
          <p>Professor</p>
          <p>Short description here..</p>
        </div>
        <div class="timeline-entry">
          <h6>1977 - 2009</h6>
          <h5>Vidarbha Ayurved Mahavidyalaya Amravati (M.S.)</h5>
          <p>Professor</p>
          <p>Short description here..</p>
        </div>
      </div>
    </div>
  </div>
</section>
