<section id="qualification" class="qualification target-section">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12">
                <h1 class="text-center orange-color">Education Qualification</h1>
            </div>
            <div class="col-12 col-md-11 col-lg-10 mt-4">
                <div class="row">
                    <div class="col-lg-6 my-2">
                        <div class="card ">
                            <h6>Nagpur University</h6>
                            <p class="orange-color">1975</p>
                            <p>B.A.M. & S.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 my-2">
                         <div class="card ">
                            <h6>Pune University</h6>
                            <p class="orange-color">1993</p>
                            <p>Ph. D</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>